.feature-list-table {
    margin: 0 10px 10px;
    .sahcfwc-table-tbody {
        .sahcfwc-table-cell {
            padding: 10px 20px !important;
        }
    }
}

.features-table {
    margin-bottom: 30px;

    .features-table-upg-btn {
        text-align: right;
        padding: 10px;
}
}